@font-face {
    font-family: 'kingthings_petrockregular';
    src: url('Kingthings_Petrock-webfont.eot');
    src: url('Kingthings_Petrock-webfont.eot?#iefix') format('embedded-opentype'),
         url('Kingthings_Petrock-webfont.woff2') format('woff2'),
         url('Kingthings_Petrock-webfont.woff') format('woff'),
         url('Kingthings_Petrock-webfont.ttf') format('truetype'),
         url('Kingthings_Petrock-webfont.svg#kingthings_petrockregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'camingocoderegular';
    src: url('CamingoCode-Regular-webfont.eot');
    src: url('CamingoCode-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('CamingoCode-Regular-webfont.woff2') format('woff2'),
         url('CamingoCode-Regular-webfont.woff') format('woff'),
         url('CamingoCode-Regular-webfont.ttf') format('truetype'),
         url('CamingoCode-Regular-webfont.svg#camingocoderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
	font-family: camingocoderegular;
}
h1{
	font-family: kingthings_petrockregular;
	font-size:500%;
}
h2{
	font-family: kingthings_petrockregular;
	font-size:300%;
	text-align:center;
}
h3{
	text-align:center;
	font-size:225%;
}
p{
	color:#000799;
	background-color:white;
	opacity:0.75;
	font-size:110%
}
.disk{
		height: 30px;
}
body{
  background-image: linear-gradient(to top right ,#fbffb2,#faffa7,#faff9c,#f9ff91,#ffd99c,#ffd591,#ffb470,#ffa451);
}